*:focus {
    outline: none;
  }
.container{
    border: 1px solid black;
    width: 100%;
    display: flex;
    height: 100vh;
}
.game{
    border: 1px solid green;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
.box:nth-child(even) {
    background-color: #ccc;
    color: #000;
}
.right-side{
    border: 1px solid skyblue;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    color: white;
    width: 100%;
    height: 50vh;
    background: black;
}
.input{
    width: 100%;
}
.active{
    background: pink !important;
}